PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/portfolio_generator
JWT_SECRET=replace_this_with_a_long_secret_key
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
NODE_ENV=development
